Source: {source}
Section: java
Priority: optional
Maintainer: {maintainer_name} <{maintainer_email}>
Package: {package_name}
Version: {version}
Architecture: amd64
Installed-Size: {size}
Depends: java-common, libasound2, libc6, libgcc1, libx11-6, libxau6, libxcb1, libxdmcp6, libxext6, libxi6, libxrender1, libxtst6, zlib1g, libfontconfig1
Provides: java-compiler, java-sdk, java-runtime
Description: From OpenJDK. Built from: {remote_url}, on commit: {commit}, which was made {commit_date}. This package was created: {current_time}

